:root {
  --accent-color: #404bbf;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hiddden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #2e2f42;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.logo {
  width: 44px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 71px;
  height: 24px;
}
.logo-word-header {
  width: 71px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.logo-word-of-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contact-mail,
.contact-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}
.contact-phone:hover,
.contact-phone:focus {
  color: var(--accent-color);
}
.hero-section {
  background: #2e2f42;
}
.h1-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.modal-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-color);
}
.h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.fourth-box {
  background: #f4f4fd;
}
.footer {
  background: #2e2f42;
}
.section-paragraph-of-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #e7e9fc;
}
.all-button,
.web-site-button,
.app-button,
.design-button,
.marketing-button {
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  font-family: inherit;
}
.all-button:hover,
.all-button:focus {
  background: var(--accent-color);
  color: #ffffff;
}
.web-site-button:hover,
.web-site-button:focus {
  background: var(--accent-color);
  color: #ffffff;
}
.app-button:hover,
.app-button:focus {
  background: var(--accent-color);
  color: #ffffff;
}
.design-button:hover,
.design-button:focus {
  background: var(--accent-color);
  color: #ffffff;
}
.marketing-button:hover,
.marketing-button:focus {
  background: var(--accent-color);
  color: #ffffff;
}
.list-card {
  background: #ffffff;
}
